TELEGRAM_TOKEN=bu_yerga_botfatherdan_olgan_tokenni_qoying
GEMINI_API_KEY=bu_yerga_gemini_api_kalitini_qoying
GROQ_API_KEY=bu_yerga_groq_api_kalitini_qoying
ADMIN_CHAT_ID=bu_yerga_admin_telegram_id_ni_qoying
CONTACT_PHONE=+998901234567
